.nav-container{
    grid-template-columns: 50% 50%;
}
.nav-right{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    padding: 2rem 0;
}
.nav-right a{
    text-decoration: none;
    color: #979191;
}
.img-nav{
    grid-template-columns: 50% 50%;
    margin-top: -12rem;
    height: 31rem;
}
.img-nav h1{
    grid-column: 1;
    margin: auto;
    margin-left: 75%;
}
.img-nav p{
    display: grid;
    grid-column: 2;
    margin: auto;
    margin-left: 5%;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}